.logo img{
    height:100px;
}

.menu{
    background-color:black;
    color:white;
    width:99.9%;
    height:60px;
    margin:0 auto;
}

.menu ul li{
    float:left;
    list-style: none;
    margin-right:50px;
    margin-left:50px;
    font-size:20px;
    line-height: 60px;
    
}




main{
    clear:both;
    margin:0 auto;
}

.main{
    float:left;
    width:65%;
    height:2500px;
}

.main .shoseki{
    font-size:40px;
    border-bottom: 3px solid black;
    border-left:5px solid black;
    padding-left:10px;
    font-weight: bolder;
}
.main .clock{
    float:left;
}

.main .clock img{
    padding-top:8px;
    padding-right:3px;
}

.main .day{
    font-size:25px; 
    padding-bottom: 10px;
    padding-top:5px;
}

.main .slideshow{
    display: block;
}
.main .slideshow img{
    width:100%;
}



.box,.box2{
    height:200px;
    width:100%;
    background-color: lightgray;
    text-align: center;
}

.box img,.box2 img{
    width:180px;
    margin:20px 10px -10px 10px;
}

.box .box_pic,.box2 .box_pic2{
    display:inline-block;
}

.box{
    height:200px;
}





.list{
    float:right;
    width:30%;
    margin-top:20px;
    
}

.list .big{
    font-size:25px;
    font-weight: bolder;
    border-bottom:3px dotted gray;
}

.list ul li{
    list-style: none;
    padding-bottom:10px;
}






footer{
    clear:both;
    background-color:black;
    color:white;
    width:99.9%;
    height:60px;
    text-align: center;
    line-height: 60px;
    
}